@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body::-webkit-scrollbar {
    display: none;
  }
}

@layer utilities {
  .clip-tag {
    -webkit-clip-path: polygon(75% 0, 100% 50%, 75% 100%, 0 100%, 0 0);
    clip-path: polygon(75% 0, 100% 50%, 75% 100%, 0 100%, 0 0);
  }
}